<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    </script>

    <input type="hidden" id="template1ID" name="template1ID" value="[[.Source.template1_id]]">
    <input type="hidden" id="projectID" name="projectID" value="[[.Source.project_id]]">
    <input type="hidden" id="year" name="year" value="[[.Source.year]]">
    <input type="hidden" id="quarter" name="quarter" value="[[.Source.quarter]]">
</div>
<script>
    layui.use(['table', 'form', 'element', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;
        let $ = layui.jquery;

        //方法级渲染
        table.render({
            elem: '#table_list',
            url: `/ScoreRecordInfoII/Search?year=${$("#year").val()}&quarter=${$(
                            "#quarter").val()}&project_id=${$("#projectID").val()}&template1_id=${$(
                "#template1ID").val()}`,
            cols: [
                [{
                    field: 'template2_id',
                    title: 'ID',
                    align: 'center',
                    sort: true,
                    width: '20%'
                }, {
                    field: 'template2_name',
                    align: 'center',
                    title: '名称',
                    width: '30%'
                }, {
                    field: 'record2_score',
                    align: 'center',
                    title: '分数',
                    width: '30%'
                }, {
                    fixed: 'right',
                    align: 'center',
                    title: '操作',
                    toolbar: '#bar',
                    width: '20%'
                }]
            ],
            id: 'listReload',
            height: "full-130"
        });


        //监听工具条
        table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                window.location.href =
                    `/ScoreRecordInfoIII/Score?year=${$("#year").val()}&quarter=${$(
                            "#quarter").val()}&project_id=${$("#projectID").val()}&template1_id=${$(
                "#template1ID").val()}&template2_id=${data.template2_id }`
            } else {
                layer.msg('操作不存在');
            }
        });
    });
</script>