<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs6">
            <div class="layui-btn-group">
                <button class="layui-btn" id="add_api">新增</button>
            </div>
            <!-- <a class="layui-btn" data-type="tabAdd" href="/api/add">新增</a>  -->
            <!-- <a href="javascript:;" id="add_api" class="layui-btn"> 新增接口 </a>  
            <a href="javascript:;" id="add_audit" class="layui-btn layui-btn-primary"> 提交审核 </a> -->
            <input type="hidden" id="tid" name="tid" value="{{.Source.tid}}">
        </div>
    </div>

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> -->
    </script>
</div>
<script>
    layui.use(['table', 'form', 'element', 'jquery'], function () {
        var table = layui.table;
        var form = layui.form;
        var element = layui.element;
        var $ = layui.jquery;
        //方法级渲染
        table.render({
            elem: '#table_list',
            url: '/ScoreTypeInfoIII/Table?tid=' + $('#tid').val(),
            cols: [
                [{
                    field: 'id',
                    title: 'ID',
                    align: 'center',
                    sort: true,
                    width: '20%'
                }, {
                    field: 'name',
                    align: 'center',
                    title: '名称',
                    width: '30%'
                }, {
                    field: 'score',
                    align: 'center',
                    title: '分值',
                    width: '20%'
                }, {
                    fixed: 'right',
                    align: 'center',
                    toolbar: '#bar',
                    title: '操作',
                    width: '30%'
                }]
            ],
            id: 'listReload',
            page: true,
            height: "full-130"
        });

        var $ = layui.$,
            active = {
                reload: function () {
                    table.reload('listReload', {
                        where: {
                            apiName: $('#apiName').val(),
                            status: $("#status").val()
                        }
                    });
                }
            };

        $("#add_api").on("click", function () {
            window.location.href = "/ScoreTypeInfoIII/Add?tid=" + $('#tid').val()
        })

        //监听工具条
        table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    shade: 0.3,
                    id: 1,
                    title: "编辑模版",
                    content: '/ScoreTypeInfoIII/Edit?id=' + data.id,
                    area: ['500px', '300px'],
                });
            } else if (obj.event === 'del') {
                var msg = "";
                if (data.status == 0) {
                    msg = '真的启用【' + data.api_name + '】么';
                } else {
                    msg = '真的停用【' + data.api_name + '】么';
                }

                layer.confirm(msg, function () {
                    var del_data = {
                        "id": data.id
                    }
                    $.post('{{urlfor "ApiController.AjaxDel"}}', del_data, function (out) {
                        if (out.status == 0) {
                            layer.msg("操作成功", {
                                icon: 1
                            }, function () {
                                $("#reload").click();
                            })
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                    return false;
                });
                return false;

            } else {
                layer.msg('操作不存在');
            }
        });

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>