<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>

    <input type="hidden" id="t1id" name="t1id" value="[[.Source.t1id]]">
    <input type="hidden" id="t2id" name="t2id" value="[[.Source.t2id]]">
    <input type="hidden" id="pid" name="pid" value="[[.Source.pid]]">
    <input type="hidden" id="year" name="year" value="[[.Source.year]]">
    <input type="hidden" id="quarter" name="quarter" value="[[.Source.quarter]]">
</div>
<script>
    layui.use(['table', 'form', 'element', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;
        let $ = layui.jquery;

        //方法级渲染
        table.render({
            elem: '#table_list',
            url: `/RecordProjectScore/Search3?year=${$("#year").val()}&quarter=${$("#quarter").val()}&pid=${$("#pid").val()}&t1id=${$("#t1id").val()}&t2id=${$("#t2id").val()}`,
            cols: [
                [{
                    field: 't3id',
                    title: 'ID',
                    align: 'center',
                    sort: true,
                    width: '10%'
                }, {
                    field: 'template3_name',
                    align: 'center',
                    title: '名称',
                    width: '40%'
                }, {
                    field: 'template3_maxscore',
                    align: 'center',
                    title: '总分',
                    width: '25%'
                }, {
                    field: 'record3_score',
                    align: 'center',
                    title: '得分',
                    width: '25%'
                }]
            ],
            id: 'listReload',
            height: "full-130"
        });

    });
</script>