<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>
</div>
<script>
    layui.use(['table', 'form', 'element'], function () {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;

        //方法级渲染
        table.render({
            elem: '#table_list',
            url: '/DepartmentorScoreTypeInfo/Table',
            cols: [
                [{
                    field: 'name',
                    align: 'center',
                    title: '名称',
                    width: '30%'
                }, {
                    field: 'score_limit',
                    align: 'center',
                    title: '分值',
                    width: '30%'
                }, {
                    fixed: 'right',
                    align: 'center',
                    title: '操作',
                    toolbar: '#bar',
                    width: '40%'
                }]
            ],
            id: 'listReload',
            height: "full-130"
        });

        //监听工具条
        table.on('tool(table_filter)', function (obj) {
            let data = obj.data;

            if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    shade: 0.3,
                    id: 1,
                    title: "编辑模版",
                    content: '/DepartmentorScoreTypeInfo/Edit?id=' + data.id,
                    area: ['500px', '300px'],
                });
            }
        });
    });
</script>