<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">

    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs10 search_text">
            <form class="layui-form" action="" onsubmit="javascript:return false;">
                <div class="demoTable">
                    <div class="layui-input-inline" style="width: 20%; text-align: center;">
                        <input type="text" class="layui-input" lay-verify="required" id="year" name="year" autocomplete="off" placeholder="请选择年份">
                    </div>

                    <div class="layui-input-inline" style="width: 20%;text-align: center;">
                        <select id="quarter" name="quarter" lay-verify="required" lay-search="" style="width: 100%">
                            <option value="">请选择季度</option>
                            <option value="1">第一季度</option>
                            <option value="2">第二季度</option>
                            <option value="3">第三季度</option>
                            <option value="4">第四季度</option>
                        </select>
                    </div>

                    <div class="layui-input-inline" style="width: 20%;text-align: center;">
                        <select id="departmentorID" name="departmentorID" lay-verify="required" lay-search="" style="width: 100%">
                            <option value="">请选部门负责人</option>
                            {{range $index,$elem := .departmentors}}
                            <option value="{{$elem.ID}}"> {{$elem.Name}}</option>
                            {{end}}
                        </select>
                    </div>

                    <div class="layui-input-inline" style="width: 20%;text-align: center;">
                        <select id="projectorID" name="projectorID" lay-verify="required" lay-search="" style="width: 100%">
                            <option value="">请选择项目负责人</option>
                            {{range $index,$elem := .projectors}}
                            <option value="{{$elem.ID}}"> {{$elem.Name}}</option>
                            {{end}}
                        </select>
                    </div>

                    <button class="layui-btn" data-type="reload" id="reload">查询</button>
                </div>
            </form>
        </div>
    </div>

    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>

</div>
<script>
    layui.use(['table', 'form', 'element', 'laydate'], function () {
        var table = layui.table;
        var form = layui.form;
        var element = layui.element;
        var laydate = layui.laydate;

        //自定义格式
        laydate.render({
            elem: '#year',
            type: 'year',
            format: 'yyyy'
        });

        var $ = layui.$,
            active = {
                reload: function () {
                    //方法级渲染
                    table.render({
                        elem: '#table_list',
                        url: '/ScoreProjectorRecordInfo/Search?year=' + $("#year").val() + '&quarter=' + $(
                            "#quarter").val() + '&projectorID=' + $("#projectorID").val() + '&departmentorID=' + $("#departmentorID").val(),
                        cols: [
                            [{
                                field: 'id',
                                title: 'ID',
                                align: 'center',
                                sort: true,
                                width: '20%'
                            }, {
                                field: 'name',
                                align: 'center',
                                title: '名称',
                                width: '20%'
                            }, {
                                field: 'max_score',
                                align: 'center',
                                title: '总分',
                                width: '20%'
                            }, {
                                field: 'score',
                                align: 'center',
                                title: '得分',
                                width: '20%'
                            }, {
                                fixed: 'right',
                                align: 'center',
                                title: '操作',
                                toolbar: '#bar',
                                width: '20%'
                            }]
                        ],
                        id: 'listReload',
                        height: "full-130"
                    });
                }
            };

       //监听工具条
       table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    shade: 0.3,
                    id: 1,
                    title: "编辑项目评分记录",
                    content: '/ScoreProjectorRecordInfo/Edit?tid=' + data.id +
                        '&year=' + $("#year").val() + '&quarter=' + $(
                            "#quarter").val() + '&projectorID=' + $("#projectorID").val() + '&departmentorID=' + $("#departmentorID")
                        .val(),
                    area: ['600px', '300px'],
                });
            } else {
                layer.msg('操作不存在');
            }
        });

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>