<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="layui-col-xs6">
            <div class="layui-btn-group">
                <button class="layui-btn" id="add_department">添加部门</button>
            </div>
        </div>
    </div>


    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>

    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>
</div>
<script>
    layui.use(['table', 'form', 'element'], function () {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;

        //方法级渲染
        table.render({
            elem: '#table_list',
            url: '/DepartmentInfo/Table',
            cols: [
                [{
                    field: 'name',
                    align: 'center',
                    title: '部门名称',
                    width: '30%'
                }, {
                    field: 'leaderName',
                    align: 'center',
                    title: '负责人',
                    width: '30%'
                }, {
                    fixed: 'right',
                    align: 'center',
                    title: '操作',
                    toolbar: '#bar',
                    width: '40%'
                }]
            ],
            id: 'listReload',
            height: "full-130"
        });

        var $ = layui.$,
            active = {
                reload: function () {
                    table.reload('listReload', {
                        where: {
                            apiName: $('#apiName').val(),
                            status: $("#status").val()
                        }
                    });
                }
            };

        $("#add_department").on("click", function () {
            window.location.href = "/DepartmentInfo/Add"
        })

        //监听工具条
        table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                window.location.href = '/DepartmentInfo/Edit?id=' + data.id
            }
        });

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>